.layout-header-content {
  display: grid;
}

.layout-header-branding {
  display: flex;
}

.layout-header-logo {
  font-size: 3.5rem;
  margin: 0 1rem 0 0;
}

.layout-header-title {
  color: #FFFFFF;
  margin: 0 0 0.5rem 0;
}

.layout-header-socials {
  display: flex;
  margin-top: 1rem;
  gap: 0.8rem;
}

@media only screen and (min-width: 600px) {
  .layout-header-content {
    grid-template-columns: 1fr 1fr;
  }

  .layout-header-socials {
    display: grid;
    grid-auto-rows: max-content;
    justify-content: end;
    gap: 0.3rem;
    margin-top: 0;
  }
}
