<html>
  <head>
    <title>{{meta.title}} | {{meta.description}}</title>
    <meta name="description" content={{meta.description}} />
    <meta name="robots" content="index, follow" />
    {{>common-head}}
  </head>
  <body>
    {{#>layout socials=socials meta=meta}}
      {{>posts-list tags=tags posts=posts}}
    {{/layout}}
  </body>
</html>
