{{#each links}}
  {{#if (equalsCaseInsensitive @key 'github')}}
    <div> {{>social-github label="Source" href=this}} </div>
  {{else}}
    {{#if (equalsCaseInsensitive @key 'medium')}}
      <div> {{>social-medium label="Blog" href=this}} </div>
    {{else}}
      <div> {{>social-generic href=this name=@key}} </div>
    {{/if}}
  {{/if}}
{{/each}}
